<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= site_title %></title>
    <link rel="icon" href="./imgs/prv1.png" ">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    





    
<div class="left_popup" id="user_info_popup">
        <div class="left_popup_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="left">
                    <div><i class="fa-solid fa-info"></i> <span>كشف النكات</span></div>
                </div>

                <div class="right">
                    <div style="border: 1px black solid;background-color: #c12e2a;color: white;padding: 1%;width: 30px;border-radius: 3px;" id="user_info_popup_close_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>

            <div class="data">
                <div class="info">
                    <div class="info_card">العضو</div>
                    <div id="username_info">ziad</div>
                </div>
                <div class="info">
                    <div class="info_card">الزخرفه</div>
                    <div id="nickname_info">ziad</div>
                </div>
                <div class="info">
                    <div class="info_card">الآي بي</div>
                    <div id="ip_info">156.192.222.119</div>
                </div>
                <div class="info">
                    <div class="info_card">الجهاز</div>
                    <div id="device_info">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.74 Safari/537.36 Edg/99.0.1150.46</div>
                </div>

            </div>


        </div>
</div>
    
<div class="left_popup" id="private_chat_popup" >
        <div class="left_popup_cont" style="min-height: fit-content;">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <input type="text" hidden id="private_chat_name_input">
                <div class="left" style="align-items: center;gap: 10px;">
                    <div id="private_chat_profile" style="border-radius: 5px;border: 1px solid black;padding: 5px;display: flex;justify-content: center;align-items: center;background-color: <%= buttons_color %>"><i class="fa-solid fa-user"></i></div>
                    <div ><img id="private_chat_profile_img" style="border: 1px solid black;" width="20" height="20" alt="profile img"></div>
                    <div><div id="private_chat_nickname"></div></div>
                </div>

                <div class="right">
                    <div style="border: 1px black solid;background-color: #5bc0de;color: white;padding: 1%;width: 30px;border-radius: 3px;" ><i class="fa-solid fa-up-right-and-down-left-from-center"></i></div>
                    <div id="private_chat_popup_close_btn" style="border: 1px black solid;background-color: #c12e2a;color: white;padding: 1%;width: 30px;border-radius: 3px;" ><i class="fa-solid fa-minus"></i></div>
                </div>
            </div>

            <div class="chat_body" >
                
                <div class="private_chat_cont" id="private_chats" style="min-height: 40vh;">



                </div>

                <div class="chat_input flex" style="gap: 5px;padding: 5px;">
                    <div style="border: 1px black solid;background-color: #5CB85B;color: white;padding: 1%;width: 30px;border-radius: 3px;" ><i class="fa-solid fa-phone"></i></div>
                    <div style="border: 1px black solid;background-color: <%= buttons_color %>;color: white;padding: 1%;width: 30px;border-radius: 3px;" ><i class="fa-solid fa-share-nodes"></i></div>
                    <div><img src="./imgs/emoii.gif" width="23" height="23" alt="emoji img"></div>
                    <div class="input" style="width: 100%;"><input style="width: 100%;padding: 3px;border: 1px solid black;border-radius: 5px;" id="private_msg_input" type="text" placeholder="اكتب رسالتك هنا"></div>
                    <div class="exit_btn" id="private_send_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-paper-plane"></i><span>إرسال</span></div>
                
                </div>
               

            </div>


        </div>
</div>

    <div class="create_room_popup" id="create_room_popup">
        <div class="create_room_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="left">
                    <div><i class="fa-solid fa-comments"></i> <span>إنشاء غرفه جديدة</span></div>
                </div>

                <div class="right">
                    <div class="close" id="create_room_popup_close_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>

            <div class="form">

                <input type="text" placeholder="عنوان الغرفه" id="room_title_input">
                <input type="text" placeholder="الوصف" id="room_desc_input">
                <input type="text" placeholder="رساله الترحيب" id="room_welcome_msg_input">
                <input type="text" placeholder="كلمه المرور" id="room_password_input">
                <div class="input">
                    <input type="number" placeholder="حجم الغرفه من 2 ألى 40" id="room_size_input">
                    <input type="checkbox" >
                    <label >تثبيت الغرفه</label>
                </div>

                <button style="cursor: pointer;background-color: <%= buttons_color %>;" id="add_room_btn" ><i class="fa-solid fa-plus"></i> <span>(20)إنشاء الغرفه</span></button>
            </div>

        </div>
    </div>

    <div class="create_room_popup" id="edit_room_popup">
        <div class="create_room_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <input type="text" hidden id="currnet_room_id">
                <div class="left">
                    <div><i class="fa-solid fa-comments"></i> <span>إداره الغرفه</span></div>
                </div>

                <div class="right">
                    
                    <div class="close" id="edit_room_popup_close_btn"><i class="fa-solid fa-xmark"></i></div>
                </div>
            </div>

            <div class="form">

                <input type="text" placeholder="عنوان الغرفه" id="edit_room_title_input">
                <input type="text" placeholder="الوصف" id="edit_room_desc_input">
                <input type="text" placeholder="رساله الترحيب" id="edit_room_welcome_msg_input">
                <input type="text" placeholder="كلمه المرور" id="edit_room_password_input">
                <div class="input">
                    <input type="number" placeholder="حجم الغرفه من 2 ألى 40" id="edit_room_size_input">
                </div>

                <button style="cursor: pointer;background-color: <%= buttons_color %>;" id="save_room_btn" ><i class="fa-solid fa-plus"></i> <span>حفظ التعديلات</span></button>
            </div>

        </div>
    </div>


    <div class="sidebar" id="available_sidebar">
        <div class="sidebar_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="sidebar_name">المتواجدين</div>
                <div class="close" id="available_sidebar_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>

            <div class="search" >
                <input type="text" style="background-color: <%= theme_color %>;" placeholder=".. البحث" autocomplete="off">
            </div>

            <div class="bg-brown-red" style="background-color: <%= buttons_color %>;">
                المتواجدين في الغرفه
                    
            </div>

            <div class="available_users" id="available_users">
                <div class="user">
                   <div class="flex">
                        <div class="bar"></div>
                        <div class="img user_img" data-name="name"><img width="44" height="100%" src="./imgs/pic.png" alt="profile photo"></div>
                        <div style="margin-left: 5px;">
                            <div>name</div>
                            <div class="status-gray" style="color: gray;font-size: 14px;">(غير مسجل)</div>
                        </div>
                   </div>

                   <div class="flag">
                    <span style="color: gray;font-size: 11px;">#477</span>
                        <img src="https://flagcdn.com/16x12/eg.png" alt="Flag photo">
                        
                   </div>

                </div>
            </div>

            <div class="bg-brown-red" style="background-color: <%= buttons_color %>;">
                المتواجدين في الدردشه
                    
            </div>

            <div class="available_users" id="all_users">
                <div class="user">
                   <div class="flex">
                        <div class="bar"></div>
                        <div class="img user_img" data-name="name"><img width="44" height="100%" src="./imgs/pic.png" alt="profile photo"></div>
                        <div style="margin-left: 5px;">
                            <div>name</div>
                            <div class="status-gray" style="color: gray;font-size: 14px;">(غير مسجل)</div>
                        </div>
                   </div>

                   <div class="flag">
                    <span style="color: gray;font-size: 11px;">#477</span>
                        <img src="https://flagcdn.com/16x12/eg.png" alt="Flag photo">
                        
                   </div>

                </div>
            </div>


        </div>
    </div>

    <div class="sidebar" id="private_chat_sidebar">
        <div class="sidebar_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="sidebar_name">المحادثات الخاصه</div>
                <div class="close" id="private_chat_sidebar_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>

            <div class="private_chats" id="private_chats_sider">
              
            </div>


        </div>
    </div>


    <div class="sidebar" id="groups_sidebar">
        <div class="sidebar_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="sidebar_name">غرف الدردشه</div>
                <div class="close" id="groups_sidebar_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>

            <div class="groups_list" id="groups_list" style="overflow-y: auto;height: 93%;">
                <div class="new_room" style="background-color: <%= buttons_color %>;">
                    <div id="create_room_btn" onclick=""><i class="fa-solid fa-plus"></i> <span>غرفة جديدة</span></div>
                        
                </div>

                <div class="room current_room">
                    <div class="left">
                        <div><img src="./imgs/prv1.png" width="36" height="36" alt="Room photo"></div>
                        <div class="txts">
                            <div class="room_name">
                                ROOM || 1 العامه
                            </div>
                            <div class="room_desc" style="color: gray;">
                                غرفة عامة
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="card">
                            <div><i class="fa-solid fa-user"></i></div>
                            <div><span>1</span>/20</div>
                        </div>
                    </div>

                </div>





            </div>



        </div>
    </div>

    <div class="sidebar " id="wall_sidebar">
        <div class="sidebar_cont wall_sidebar">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="sidebar_name">الحائط</div>
                <div class="close" id="wall_sidebar_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>


            <div class="wall_grid">
                <div class="upper" id="wall_posts">



                </div>

                <div class="bottom">
                    <div class="msg_input">
                        <div class="exit_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-share-nodes"></i></div>
                        <div><img width="24" height="23" src="./imgs/emoii.gif" alt="emoji photo"></div>
                        <div class="input"><input type="text" placeholder="اكتب رسالتك هنا" id="wall_input"></div>
                        <div class="exit_btn add_wall" style="background-color: <%= buttons_color %>;" id="add_wall_post_btn"><i class="fa-solid fa-paper-plane"></i><span>إرسال</span></div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="sidebar" id="setting_sidebar">
        <div class="sidebar_cont">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="sidebar_name">الإعدادات</div>
                <div class="close" id="setting_sidebar_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>

            <div class="profile_setting ">
                <div class="inputs_margin_left" style="display: flex;justify-content: flex-end;">
                    <div class="exit_btn" style="background-color: <%= buttons_color %>;">الملف الشخصي</div>
                </div>

                <div class="input inputs_margin_left">
                    <div class="exit_btn" style="background-color: <%= buttons_color %>;width: fit-content;border-bottom: none;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;">الزخرفه</div>
                    <input style="border-radius: 5px;padding: 3px;" type="text" value="name" autocomplete="off" id="nickname_input">
                </div>

                <div class="input inputs_margin_left">
                    <div class="exit_btn" style="background-color: <%= buttons_color %>;width: fit-content;border-bottom: none;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;">الحاله</div>
                    <input style="border-radius: 5px;padding: 3px;" type="text" value="name" autocomplete="off" id="bio_input">
                </div>

                <div class="colors_input inputs_margin_left" style="display: flex;">
                    <div class="exit_btn" style="width: fit-content;background-color: <%= buttons_color %>;">لون الإسم</div>
                    <input   type="color" value="name" autocomplete="off" id="name_color">
                </div>

                <div class="colors_input inputs_margin_left" style="display: flex;">
                    <div class="exit_btn" style="width: fit-content; background-color: <%= buttons_color %>;" >لون الخط</div>
                    <input   type="color" value="name" autocomplete="off" id="font_color">
                </div>

                <div class="colors_input inputs_margin_left" style="display: flex;justify-content: space-between;">
                    <div style="display: flex;flex: 1;">
                        <div class="exit_btn" style="width: fit-content; background-color: <%= buttons_color %>;" >لون الخلفيه</div>
                        <input style="width: 30%;border-radius: 5px;" type="color" value="name" autocomplete="off" id="background_color">
                    </div>
                    <div class="exit_btn" style="width: fit-content;background-color: #5cb85c;" id="save_user_info_btn"><i class="fa-solid fa-pen-to-square"></i> <span>حفظ</span> </div>
                </div>


                <div class="full_width">
                    <select class="cont" style="background-color: <%= buttons_color %>;font-size: 15px;color: white;">
                        <option value="1.20">%120 - حجم الخطوط</option>
                        <option value="1.10">%110 - حجم الخطوط</option>
                        <option value="1.05">%105 - حجم الخطوط</option>
                        <option selected value="1">%100 - حجم الخطوط</option>
                        <option value="0.95">%95 - حجم الخطوط</option>
                        <option value="0.9">%90 - حجم الخطوط</option>
                    </select>
                </div>

                <div class="full_width">
                    <div class="cont " id="profile_pic_btn">
                        <div class="img_cont"><img class="user_photo" src="<%= img %>"  alt="profile photo"></div>
                        <div class="flex"><div>تغير الصوره</div> </div>
                        <input type="file" hidden id="profile_pic_input">
                    </div>
                </div>

                <div class="full_width ">
                    <div class="cont red_cont" id="remove_my_img_btn">
                        <div ><i class="fa-solid fa-user-xmark"></i></div>
                        <div class="flex"><div>حذف الصوره</div> </div>
                    </div>
                </div>


                <div class="full_width">
                    <div class="cont " id="disable_private_chat">
                        <% if(parseInt(isprivate) === 1){ %>
                            <div  style="display: none;"><i class="fa-solid fa-check"></i></div>
                        <% }else{ %>
                            <div  style="display: block;"><i class="fa-solid fa-check"></i></div>
                        <% } %>
                        <div class="flex"><div>تعطيل المحادثات الخاصه</div> </div>
                        

                    </div>
                </div>

                <div class="full_width">
                    <div class="cont " id="disable_notify">
                        <% if(parseInt(isnotify) === 1){ %>
                            <div style="display: none;"><i class="fa-solid fa-check"></i></div>
                        <% }else{ %>
                            <div style="display: block;"><i class="fa-solid fa-check"></i></div>
                        <% } %>

                        <div class="flex"><div>تعطيل التنبيهات</div> </div>
                    </div>
                </div>

                <% if(parseInt(power) > 0){ %>


                <div class="full_width">
                    <div class="cont " id="send_ad_btn">
                        <div ><i class="fa-solid fa-paper-plane"></i></div>
                        <div class="flex"><div>الإعلان للأدعيه والمسابقات</div> </div>
                    </div>
                </div>

                <div class="full_width">
                    <div class="cont " id="edit_room_btn">
                        <div ><i class="fa-solid fa-house-chimney"></i></div>
                        <div class="flex"><div>إداره الغرفه</div> </div>
                    </div>
                </div>

                <div class="full_width">
                    <div class="cont " onclick='window.open("/cp","_blank")'>
                        <div ><i class="fa-solid fa-star"></i></div>
                        <div class="flex"><div>لوحه التحكم</div> </div>
                    </div>
                </div>

                <% } %>


                <div class="full_width">
                    <div class="cont red_cont" id="logout_btn">
                        <div ><i class="fa-solid fa-right-from-bracket"></i></div>
                        <div class="flex"><div>تسجيل خروج</div> </div>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <div class="popup popup_middle" id="popup">
        <input type="hidden" value="" id="popup_name">
        <div class="popup_cont popup_profile">
            <div class="top_menu" style="background-color: <%= theme_color %>;">
                <div class="info">
                    <input type="text" hidden id="currnet_name_popup" value="<%= username %>">
                    <div class="img">
                        <img width="18" class="popup_pic user_photo" height="18" src="<%= img %>" alt="profile photo">
                    </div>
                    <div class="profile_name" id="popup_profile_name"><%= nickname %></div>
                </div>
                <div class="close" id="popup_close_btn"><i class="fa-solid fa-xmark"></i></div>
            </div>


            <div class="profile_img" >
                <img src="<%= img %>"  class="popup_pic user_photo"  alt="profile photo" style="border-radius: 50%;width: 200px;height: 200px;object-fit: cover;">
            </div>

            <div class="status">
                <div id="popup_bio"><%= bio %></div>
            </div>

            <div class="user_data">
                <div class="flag">
                    <div><img src="https://flagcdn.com/16x12/eg.png" id="user_flag" alt="Flag photo"></div>
                    <div id="user_country">مصر</div>
                </div>
                <div class="room" style="background-color: <%= buttons_color %>;" id="popup_room_data"><img src="./imgs/prv1.png"  width="24" height="24" alt=""><span>ROOM || 1 العامه</span></div>

            </div>


            <div class="btns">
                <div id="private_chat_popup_btn">
                    <i class="fa-solid fa-comment"></i><span>محادثه خاصه</span>
                </div>

                <div id="private_notify_btn">
                    <i class="fa-regular fa-envelope"></i><span>تنبيه</span>
                </div>

                <div class="red" id="add_like">
                    <i class="fa-solid fa-heart"></i><span id="popup_likes_count">0</span>
                </div>



                <% if(parseInt(power) > 0){ %>


               

                <div id="show_user_info_btn">
                    <i class="fa-solid fa-magnifying-glass"></i><span>كشف النكات</span>
                </div>

                <div class="red" id="delete_user_info_img_btn">
                    <i class="fa-solid fa-ban"></i><span>حذف الصوره</span>
                </div>


                <div style="color: darkorchid;" id="kick_room_btn">
                    <i class="fa-solid fa-user-xmark"></i><span>طرد من الغرفه</span>
                </div>


                <div class="red" id="ban_btn">
                    <i class="fa-solid fa-ban"></i><span>باند</span>
                </div>

                <% } %>

            </div>
            <% if(parseInt(power) > 0){ %>



            <div class="popup_form" id="admin_popup">


                <div class="flex">
                    <div class="change_btn" id="update_popup_nickname_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-floppy-disk"></i> <span>تغير</span></div>
                    <input type="text" id="popup_nickname" autocomplete="off" style="border: 1px solid <%= buttons_color %>;">
                    <div class="change_txt" style="background-color: <%= buttons_color %>;">الزخرفه</div>
                </div>

                <div class="flex">
                    <div class="change_btn" id="update_popup_likes_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-floppy-disk"></i> <span>تغير</span></div>
                    <input type="number" id="popup_likes_input" autocomplete="off" style="border: 1px solid <%= buttons_color %>;">
                    <div class="change_txt" style="background-color: <%= buttons_color %>;">الاعجابات</div>
                </div>

                <div class="flex">
                    <div class="change_btn" id="transfer_room_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-floppy-disk"></i> <span>نقل</span></div>
                    <select id="rooms_select" style="border: 1px solid <%= buttons_color %>;"></select>
                    <div class="change_txt" style="background-color: <%= buttons_color %>;">الغرفه</div>
                </div>

                <div class="flex">
                    <div class="change_btn" id="change_power_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-floppy-disk"></i> <span>حفظ</span></div>
                    <select id="subs_select" style="border: 1px solid <%= buttons_color %>;"></select>
                    <div class="change_txt" style="background-color: <%= buttons_color %>;">المجموعه</div>
                </div>



            </div>

            <% } %>

        </div>
    </div>
    
    <div class="grid">
        <div class="chat" style="height: 100%;overflow-y: auto;max-width: 100vw;">

            <div class="join_msg">

                <div class="left">
                    <div class="img user_img" data-name="<%= username %>" data-img="<%= img %>" onclick="openProfilePopup('<%= username %>')">
                        <img width="44" height="44" class="user_photo" src="<%= img %>" alt="profile photo">
                    </div>
    
                    <div class="info">
                        <div class="name"><%= nickname %></div>
                        <div class="flex">
                            <div class="exit_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>ROOM || 1 العامه</span></div>
                            <div style="min-width: fit-content;height: fit-content;">هذا المستخدم إنضم الى الغرفة </div>
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="time"><span class="time_sent">0</span>د</div>
                </div>

            </div>



        </div>

        <div class="bottom">
            <div class="msg_input">
                <div class="exit_btn" style="background-color: <%= buttons_color %>;" id="exit_rooms_btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                <div><img width="24" height="23" src="./imgs/emoii.gif" alt="emoji photo"></div>
                <div class="input"><input id="msg_input" type="text" placeholder="اكتب رسالتك هنا"></div>
                <div class="exit_btn" id="send_btn" style="background-color: <%= buttons_color %>;"><i class="fa-solid fa-paper-plane"></i><span>إرسال</span></div>
            </div>

            <div class="bg-brown" style="background-color: <%= theme_color %>;">
                <ul>

                    <li class="exit_btn" style="background-color: <%= buttons_color %>;" id="available_btn"><abbr title="المتواجدين"><i class="fa-solid fa-user"></i><span class="current" id="current_users">1</span></abbr></li>
                    <li class="exit_btn" style="background-color: <%= buttons_color %>;" id="private_chat_btn"><abbr title="المحادثات الخاصه"><i class="fa-solid fa-comment"></i></abbr></li>
                    <li class="exit_btn" style="background-color: <%= buttons_color %>;" id="groups_sidebar_btn"><abbr title="غرف الدردشه"><i class="fa-solid fa-users"></i><span class="current" id="rooms_count_number">1</span></abbr></li>
                    <li class="exit_btn" style="background-color: <%= buttons_color %>;" id="wall_sidebar_btn"><abbr title="الحائط"><i class="fa-regular fa-comment-dots"></i><span class="current" id="wall_new_posts">0</span></abbr></li>
                    <li class="exit_btn" style="background-color: <%= buttons_color %>;" id="setting_sidebar_btn"><abbr title="الإعدادات"><i class="fa-solid fa-gear"></i></abbr></li>     
               
                </ul>
            </div>

        </div>

    </div>

    <script>
        let username = "<%= username %>";
        let nickname = "<%= nickname %>";
        let roomName = "<%= roomName %>";
        let country = "<%= country %>";
        let bio = "<%= bio %>";
        let img = "<%= img %>";
        let buttons_color = "<%= buttons_color %>";
        let theme_color = "<%= theme_color %>";
    </script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/8b8be9ae55.js" crossorigin="anonymous"></script>
    <script src="./js/index.js"></script>


</body>
</html>